@import "../variables";

/**
 * Card
 *
 * Style for card element.
 *
 *============================================================================*/





/* Button
 *============================================================================*/

.gg-card {
  display: block;
  position: relative;
  background: white;
  padding: 20px;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: .2s;
  &:after {
    content: url("assets/images/icon-search.svg");
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: .2s;
  }
  &:hover {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.28);
    &:after {
      opacity: 1;
    }
  }
}
