@import "../variables";

/**
 * Post
 *
 * Style for a blog-like post.
 *
 *============================================================================*/





/* Post
 *============================================================================*/

.gg-single-member-dialog {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.75);
  visibility: hidden;
  opacity: 0;
  transition: .4s;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.gg-single-member {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  max-width: 80vw;
  max-height: 80vh;
  margin: auto;
  display: flex;
  border-radius: 8px;
  @media (max-width: $screen-m) {
    flex-direction: column;
    max-width: 96vw;
    max-height: 96vh;
  }
}

.gg-single-member-avatar {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,.12);
  padding: 5px;
  margin-top: 70px;
  @media (max-width: $screen-m) {
    margin-top: 0;
  }
}
.gg-single-member-avatar > img {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
}

.gg-single-member-close {
  position: absolute;
  top: 20px;
  right: 20px;
}