/*Tools*/
@import "scss/01-tools/fluid";

/*Generic*/
@import "scss/02-generic/resets";
@import "scss/02-generic/generic";

/*Layout*/
@import "scss/03-layout/grid";

/*Components*/
@import "scss/04-components/buttons";
@import "scss/04-components/card";
@import "scss/04-components/title";
@import "scss/04-components/icon";
@import "scss/04-components/post";
@import "scss/04-components/read-format";
@import "scss/04-components/table";
@import "scss/04-components/tabs";
@import "scss/04-components/loading";

/*Utilities*/
@import "scss/05-utilities/utilities";

.twitter-hidden iframe {
  display: none !important;
}


/* Notification
 *============================================================================*/

.notification {
  &-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #1a2b33;
      opacity: .3;
    }
  }

  &-text {
    color: black;
  }

  &-inner {
    text-align: center;
    padding: 20px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    z-index: 2;
  }

  &-success {
    margin-top: 10px;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.12);
  }

  &-error {
    margin-top: 10px;
    background: crimson;
    color: white;
    padding: 10px;
  }
}




