@import "../variables";

/**
 * Generic
 *
 * Style for generic HTML elements with low-spec.
 *
 *============================================================================*/





/* HTML
 *============================================================================*/

html {
  font-family: $font-primary;
  line-height: 1.4;
  font-size: 16px;
  color: $fg-d-secondary;
  background-image: url("assets/images/texture.svg");
}





/* Headings
 *============================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 400;
  color: $fg-d-primary;
}

h1 { font-size: 40px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }





/* Link
 *============================================================================*/

ul {
  line-height: 1.6;
}





/* Link
 *============================================================================*/

.link:hover {
  text-decoration: underline;
}
.link {
  @media (max-width: $screen-s) { text-decoration: underline; }
}
